body{
	background-color: #e8c129;
}


.container{
	background-color: lightblue;
}



.header-wrapper{
	text-align: center;
	font-family: serif; 
	background-color: lightpink;
}

#changing{
	text-align: center;
}

.row-wrapper{
	border: 5px solid #8634a9;
	padding-top: 2px;
	padding-bottom: 2px;
}

.col-sm-6{
	border: 2px solid black;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}

.col-sm-3{
	text-align: center;
}

#learning{
	text-align: center;
	color:red;
	font-family: Sofia;
}

#form-row-1{
	border:2px solid black;
	margin:2px;
	padding:2px;
}

#form-row-2{
	border:2px solid black;
	margin:2px;
	padding:2px;
}

#form-row-3{
	border:2px solid black;
	margin:2px;
	padding:2px;
}

#form-row-4{
	border:2px solid black;
	margin:2px;
	padding:2px;
}

.emptylines{
	margin:5px;
}

.math-functions{
	text-align: center;
}

.color-function{
	background-color: #19e589;
}

.math-drawings{
	text-align: center;
}

.circle{
	height:120px;
	width:120px;
	border-radius: 60px;
	background: #7fee1d;
	margin:100px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
}

.rectangle{
	height:120px;
	width:220px;
	background-color: #4da1f7;
	margin: 100px;
	border-radius:0px;
}

.pentagon {
	margin:100px;
    width: 90px;
    position: relative;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #277bab transparent;
}

.pentagon:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #277bab;
}


.heart {
    position: relative;
}

.heart:before,.heart:after {
    content: "";
    width: 70px;
    height: 115px;
    position: absolute;
    background: red;
    left: 70px;
    top: 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.hexagon {
	margin:-150px;
    width: 100px;
    height: 55px;
    background: #fc5e5e;
    position: relative;
    margin: 10px auto;
}

.hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fc5e5e;
}

.hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fc5e5e;
}